@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">App is Working fine!! </h1>
    <p>Learn about <a href="https://github.com/Kunreddi/WebApplication">Kunreddi github</a>.</p>
</div>

